@use 'sass:math';

@use '../../helpers/scale-value';

.filter {
  display: block;
  width: 100%;

  @media screen and (min-width: 1100px) {
    display: flex;
    align-items: center;
  }

  &__title {
    $font-size: 24px;
    @include scale-value.down(margin-right, 20px, 1px);
    @include scale-value.down(font-size, $font-size, 1px);
    font-weight: 500;
    line-height: math.div(34px, $font-size);
    color: #2e282c;
  }

  &__select {
    @media screen and (min-width: 1100px) {
      flex-grow: 1;
    }
  }
}
